<!DOCTYPE html>
<html>
<head>
	<title>Employee Information</title>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Information</h1>

		<body bgcolor="lightgrey">

			<form>

				<div>

			  		Employee ID:<br> {{ id }} <br><br>

			  		First Name:<br> {{ fname }} <br><br>

			  		Last Name:<br> {{ lname }} <br><br>

			  		Primary Interest:<br> {{ interest }} <br><br>

			  		Location:<br> {{ location }} <br><br>

			  		Image URL: <br> {{ image_url }} <br><br>

			  		<button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;" formaction="http://3.134.115.108:80/getemp">RESET</button><br><br>

			  	</div>

			</form>

		</body>

	</font>
</center>
</html>
